@import 'base';
@import 'reset';
@import 'nav_bar';
@import 'daily_budget_display';
@import 'item_form';

body {
    background-color: $primary-color-light;
}

#root {
    background-color: $background;
    max-width: 1000px;
    margin: auto;
}
