@import 'base';
@import 'reset';
@import 'nav_bar';
@import 'daily_budget_display';
@import 'item_form';
@import 'item_list';
@import 'item';

body {
    background-color: $primary-color-light;
}

#root {
    background-color: $background;
    max-width: 800px;
    margin: auto;
    min-height: 100vh;
}
