@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

$primary-color: #673AB7;
$primary-color-lighter: #9b67ea;
$primary-color-darker: #4627A0;
$primary-color-dark: #340b86;
$primary-color-light: #D1C4E9;
$text-on-primary-dark: #FFF;
$text-on-primary-light: #000;
$background: #FFF;
$danger-color: #b73a89;
$danger-color-light: #e8bad4;
$income-color: #00916E;
$expense-color: #92140C;

@mixin font($size, $weight, $letter-spacing) {
  font-family: unquote("Roboto");
  font-size: $size;
  font-weight: $weight;
  letter-spacing: $letter-spacing;
}

@mixin h1 {
    @include font(96px, 300, -1.5px);
}

@mixin h2 {
    @include font(60px, 300, -0.5px);
}

@mixin h3 {
    @include font(48px, 400, 0px);
}

@mixin h4 {
    @include font(34px, 400, 0.25px);
}

@mixin h5 {
    @include font(24px, 400, 0px);
}

@mixin h6 {
    @include font(20px, 500, 0.15px);
}

@mixin subtitle1 {
    @include font(16px, 400, 0.15px);
}

@mixin subtitle2 {
    @include font(14px, 500, 0.1px);
}

@mixin body1 {
    @include font(16px, 400, 0.5px);
}

@mixin body2 {
    @include font(14px, 400, 0.25px);
}

@mixin button {
    @include font(12px, 500, 0.25px);
    text-transform: uppercase;
    padding: 10px 12px 8px 12px;
    cursor: pointer;
}

@mixin caption {
    @include font(12px, 400, 0.4px);
}

@mixin overline {
    @include font(10px, 400, 1.5px);
}

@mixin button-on-dark {
    @include button;
    color: $text-on-primary-dark;
    background: $primary-color-darker;
    border: 1px solid $primary-color-light;

    &:hover {
        border-color: #FFF;
        background: $primary-color-dark;
    }
}

@mixin button-on-light {
    @include button;
    color: $primary-color;
    background: $background;
    border: 1px solid $primary-color-light;

    &:hover {
        border-color: #FFF;
        background: $primary-color;
        color: $text-on-primary-dark;
    }
}

@mixin danger-button-on-light {
    @include button;
    color: $danger-color;
    background: $background;
    border: 1px solid $danger-color-light;

    &:hover {
        border-color: #FFF;
        background: $danger-color;
        color: $text-on-primary-dark;
    }
}

@mixin form-input {
    color: $primary-color-darker;
    margin-left: 12px;
    margin-right: 4px;
    padding: 4px;
    text-align: center;
    border-bottom: 1px solid $primary-color-light;
}

@mixin form-select {
    color: $primary-color-darker;
    padding: 4px 8px;
    margin: 4px;
    cursor: pointer;
    border-bottom: 1px solid $primary-color-light;
}

@mixin form {
    @include body2;
    color: $primary-color;
}
