@import 'base';

.item-list {
    @include body1;
    margin-top: 32px;
    padding: 32px 16px;
}

.item-list-type-menu {
    @include subtitle2;
    font-size: 12px;
    text-transform: uppercase;

    a {
        color: $primary-color;
        display: inline-block;
        padding: 4px 8px;
        border-bottom: 1px solid $primary-color-light;
        
        &.item-list-type-menu-selected {
            border: 1px solid $primary-color-light;
            border-bottom: none;
        }
    }
}

.item-list-items {
    margin-top: 32px;

}
